<html>
  <head>
    <title>Book a room</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  
  <body>
    <form method="post">
      <table>
        <th><h3>Bed and No Breakfast</h3></th>
        <tr><p id="user">Logged In</p></tr>
        <tr>
          <!-- start date -->
          <td><label>From:</label></td>
          <td><input type="date" id="arrive"></td>
          <td><label>until</label></td>
          <td><input type="date" id="leave"></td>
        </tr>
        
        <tr>
          <td><label>Total: </label></td>
          <td><label id="total">R0.00</label></td>
          <td><button id="book">Book Room</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>