<html>
  <head>
    <body>
      <h2 id="title">Bed and No Breakfast</h2>
        <form action="submit">
          <table>
            <thead>
              <h1>Add user</h1>
            </thead>
            
            <tbody>
              <tr>
                  <td><label>Firstname:</label></td>
                  <td></td>
                  <td><input id="name" class="user"></td>  
              </tr>
              <tr>
                <td><label>Lastname:</label></td>
                  <td></td>
                  <td><input id="surname" class="user"></td>
              </tr>
              <tr>
                <td><label>Id Number:</label></td>
                  <td></td>
                  <td><input id="identity" class="user"></td>
              </tr>
              <tr>
                <td><label>Email:</label></td>
                  <td></td>
                  <td><input id="email" class="user" type="email"></td>
              </tr>
              
              <tr>
                  <td></td>
                  <td><button id="save">Add</button></td>
                  <td></td>  
              </tr>
            </tbody>
          </table>
        </form>
    </body>
  </head>
</html>