<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h3>Login to B and no B</h3>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="john@doe.com" required>
        <br>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="xxxxx" required>
        <br>
        <button type="submit">Login</button>
        <br>
        <a th:href="@{/register}">Don't have an account? Register</a>
    </form>
</body>
</html>

